:root {
    font-size: 14px;
}

$GrayishBlue: hsl(237, 18%, 59%);
$SoftRed: hsl(345, 95%, 68%);
$White: hsl(0, 0%, 100%);
$DarkDesaturatedBlue: hsl(236, 21%, 26%);
$VeryDarkBlue: hsl(235, 16%, 14%);
$BlackBlue: hsl(234, 17%, 12%);

/*RESET*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* MAIN */

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    background-color: $VeryDarkBlue;
    background-image: url(../images/pattern-hills.svg), url(../images/bg-stars.svg);
    background-repeat: no-repeat;
    background-position: bottom right, top;
    background-size: 250%, cover;
}

@media only screen and(min-width: 800px) {
    body {
        background-size: 100%, cover;
    }
}


/*FONTS AND TEXT */

.uppercase {
    text-transform: uppercase;
}


/*font colors*/

.text-red {
    color: $SoftRed;
}

.text-white {
    color: $White
}

.text-grey {
    color: $GrayishBlue;
}


/*font sizes*/

.text-small {
    font-size: 0.8rem
}

.text-medium {
    font-size: 2rem
}

.text-large {
    font-size: 2.5rem
}

@media only screen and (min-width: 800px) {
    .text-small {
        font-size: 1rem
    }
    .text-medium {
        font-size: 1.4rem
    }
    .text-large {
        font-size: 3.5rem
    }
}


/* FONT WEIGHTS */

.text-heavy {
    font-weight: 700;
}


/*LAYOUT*/

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.flex-start-top {
    justify-content: start;
}

.center {
    text-align: center;
    margin: 0 auto;
}


/*COMPONENTS*/


/*-----FLIP CARD ------*/

.flip-container {
    justify-content: space-between;
    margin-bottom: 100px;
}

.flip {
    margin: 0.5rem;
    display: block;
    width: 70px;
    text-align: center;
    position: relative;
    padding: 1rem 1rem;
    border-bottom: 5px solid #000;
    border-radius: 5px;
    &::after {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $DarkDesaturatedBlue;
        border-radius: 5px;
        z-index: -1;
    }
    &::before {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        top: 50%;
        left: 0;
        background-color: lighten($DarkDesaturatedBlue, 5%);
        z-index: -1;
        border-radius: 5px;
    }
}

.heading {
    display: inline-block;
    padding: 0;
    margin: 25vh 1.5rem 4rem 1.5rem;
    letter-spacing: 0.2rem;
}

.social {
    margin: auto auto 0.5rem auto;
    & * {
        margin: 1rem;
    }
    & a:hover img {
        filter: invert(42%) sepia(93%) saturate(600%) hue-rotate(-50deg) brightness(90%) contrast(100%);
    }
}

@media only screen and (min-width: 800px) {
    .heading {
        display: inline-block;
        padding: 0;
        margin: 25vh auto 1rem auto;
        letter-spacing: 0.2rem;
    }
    .flip-container {
        margin-top: 100px;
        justify-content: space-between;
    }
    .flip {
        margin: 0 2rem 0.5rem;
        display: block;
        width: auto;
        width: 100px;
        text-align: center;
        position: relative;
        padding: 1.5rem 1.5rem;
    }
}